.img {
  width: 150px;       
  height: 120px;      
  border-radius: 50%; 
}

header img {
  margin-right: 100px; 
  display: block; 
  width: auto; 
}

.navbar {
  padding: 10px 0; 
  display: flex;
  align-items: center; 
}

.navbar-nav .nav-link {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 10px 20px; 
  color: rgb(0, 0, 0); 
  transition: color 0.3s ease, transform 0.3s ease; 
  display: inline-block;
  box-sizing: border-box;
  line-height: 1; 
  overflow: hidden; 
}

.nav-link :hover {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
}
